#102 MLSE - a short tutorial on Python

Name: Lim Cher Eng

#Introduction on Python

Python is a general-purpose programming language on its own. When used with a few popular libraries (numpy, matplotlib... ) it becomes a powerful environment for scientific computing.

A note to Matlab user: you may find this page useful for mapping Matlab functions to numpy: https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html.

What are covered in these three short tutorials?

* Basic Python: Basic data types (Numers, Lists, Tuples, Range Objects), Functions
* Numpy: Arrays, Array indexing, Array math
* Matplotlib: Plotting, Subplots

In [ ]:
# This line print python version run in Colab
!python --version

Python 3.7.10

#Basics of Python

Python is a high-level programming language. It allows you to express very powerful ideas in just a few lines of code while being very readable. First, let's take a look of data types in Python.

##Basic data types

###Numbers

Integers and floats work the same way as in other languages. 

Note: 
 

1.   Similar to Matlab, you do not need to declare a varialbe before using it. A variable can store an integer (e.g., 1) now but it can store a float (e.g., -1.23) later.
2.   C/C++ is stricter in handling variables. You have to declare a variable before uing it. You cannot change the type of that variable.

In [ ]:
# first, set x to 4 and print x as well as its type
x = 4
print(x, type(x))

4 <class 'int'>

In [ ]:
# now, change x to a float, say, 3.55. Print new value of x and its type
# your code

x=3.55
print(x, type(x))
y=4
print(float(y))

3.55 <class 'float'>
4.0

These are common operations for all numeric types (Except complex numbers. We do not use complex numers though):
![alt text](https://drive.google.com/uc?id=1bDd_RdZYYHpuBDz1hHqzK4PsTZjbX-r9)

In [ ]:
# Run this cell to see the results.
print(x + 1)   # Addition
print(x - 1)   # Subtraction
print(x * 2)   # Multiplication
print(x ** 2)  # Exponentiation

4.55
2.55
7.1
12.6025

Like C/C++, Python also has *compound assignment* operators:$+=$, $-=$, $*=$, $/=$

So,
`x += 2`
basically is a shorthand notation for incrementing the variable on the left (in this case, $x$) by a value on the right (in this case, $2$).

In [ ]:
# Run this cell to see the results.
x = 1 # x is 1
x += 2 # is equvalent to x = x + 2. After this, x = 3
print("x = ", x)

x *= 2 # is equvalent to x = x * 2. After this, x = 6
print("x = ", x)

x =  3
x =  6

In [ ]:
# Now divide x by 3 and print the result.
x /= 3
print("x = ", x)

# Set y = 3.1 and use the shorthand notatition to perform x = x/y. Print the result.
# Your code
y=3.1
x /=y
print("x/y = ", x)

x =  0.07168458781362007
x/y =  0.02312406058503873

In [ ]:
# Run this cell to see an example with float
y = 2.5
print("Type of y: ", type(y))
print(y, y - 2, y * 4, y ** 4)

Type of y:  <class 'float'>
2.5 0.5 10.0 39.0625

###Booleans

Boolean variables are either True or False. You usually have Boolean variables by 


1.   Comparison Operators
2.   Logical Operators

Comparison Operators: `==`, `!=` , `<>`, `>`, `>=`, `<`, `<=`

Logical Operators: AND, OR, NOT

Note: 

* Comparison Operators are the same as compared with other languages like C/C++.


* Logical Operators use English words rather than symbols `&&`, `||`, etc. like C/C++.

Boolean variables are used widely in **Control Flow Statements** such as `if/else`, `while` loop, `for` loop ...

In [1]:
t, f = True, False
print(type(t))

<class 'bool'>

Now let's look at the operations:

In [2]:
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;
print(t != f)  # Logical XOR;

False
True
False
True

###Strings

In [3]:
# We can use single quotes or double quotes to define strings
hello = 'Hello'   
world = "World!" 

# We can use len() to find the length of a string 
print(hello, len(hello),'\n')
# '\n' is to add a new line after printing

print(world, "\nLength of \"world\":", len(world))

Hello 5

World!
Length of "world": 6

In [5]:
# We can concatenate strings using +
hw1 = hello + ' ' + world  
print(hw1)

Hello World!

In [6]:
# How to convert number to string? Use str().
hw2 =  hello + ' ' + world + str(2020) + '!'
print(hw2)

Hello World!2020!

Some useful methods for strings:

In [7]:
s = "welcome to 102MLSE"
# Capitalize a string
print(s.capitalize())

# Convert a string to uppercase
print(s.upper())       

# Right-justify a string, padding with spaces
print(s.rjust(20))      

# Center a string, padding with spaces
print(s.center(50))

Welcome to 102mlse
WELCOME TO 102MLSE
  welcome to 102MLSE
                welcome to 102MLSE

A list of all string methods can be found in this [link](https://docs.python.org/3.7/library/stdtypes.html#string-methods).

##Sequences

The main sequence types in Python are 
- lists, 
- tuples, and
- range objects.

###Lists

To create a list, use square brackets `[.....]` with items separated by commas.

In [8]:
cubes = [1, 8, 27, 64]   # create a list
print(cubes)

[1, 8, 27, 64]

Lists may contain data of any type including other lists.

In [9]:
x = ['foo', 'bar', 1, -1.5, cubes]
print(x)

['foo', 'bar', 1, -1.5, [1, 8, 27, 64]]

In [10]:
# Add a new element to the end of the list using append()
x.append('hello')
print(x)

['foo', 'bar', 1, -1.5, [1, 8, 27, 64], 'hello']

In [11]:
# Remove the last element of list x
x_last_removed = x.pop()     
print(x_last_removed,'\n', x)

hello
 ['foo', 'bar', 1, -1.5, [1, 8, 27, 64]]

####Index

Access the elements of a list by their indices. The first element of a list has the index of $0$

In [12]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23]

# Access the first element of primes (index = 0)
print("First element = ", primes[0])

# Access the third element of primes (index = 2)
print("Third element = ", primes[2])

First element =  2
Third element =  5

Use negative indices to access elements starting from the end of the list. 

The last element of `primes` is `primes[-1]`. The second last element of `primes` is `primes[-2]`, ...

In [13]:
# the last element
print(primes[-1])

# the second last element
print(primes[-2])

23
19

####Slicing

Slicing is used to create a new list from a **sublist** (called a **slice**).

In [14]:
squares = [1, 4, 9, 16, 25, 36, 49, 64, 81] 
print(squares)         # to print [1, 4, 9, 16, 25, 36, 49, 64, 81]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
# Get a slice from index 2 to 7 (exclusive); prints "[9, 16, 25, 36, 49]"
# take note of this:
# the slice begins at index 2 and goes up to but not including index 7
print(squares[2:7])

[9, 16, 25, 36, 49]

In [16]:
# Get a slice from index 3 to the end
print(squares[3:])

[16, 25, 36, 49, 64, 81]

In [17]:
# Get a slice from the start to index 4 (exclusive), i.e., indices from 0 to 3
print(squares[:4])

[1, 4, 9, 16]

In [18]:
# Get the whole list
print(squares[:])

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
# Get a slice from the start to index -1 (exclusive)
# Index -1: the last element
# :-1: fromt the first to the second last element
print(squares[:-1])    # Slice indices can be negative; prints ["0, 1, 2, 3]"

[1, 4, 9, 16, 25, 36, 49, 64]

In [20]:
# You can change values of elements of a list
squares[3:6] = [0, 0, 0] 
print(squares)

[1, 4, 9, 0, 0, 0, 49, 64, 81]

###Tuples

A tuple is an (immutable) ordered list of values. To create a tuple with parentheses `(....)`:

In [21]:
first_day_of_school = (2020, 4, 20)
print(first_day_of_school)

(2020, 4, 20)

In [22]:
# Indexing and slicing are similar to lists
print(first_day_of_school[0])

print(first_day_of_school[-1])

print(first_day_of_school[1:3])

2020
20
(4, 20)

###Range Objects

We use `range(a, b, step)` to create an object which represents a sequence of integers from `a` to `b` (exclusively) incremented by `step`. The parameters `a`, `b` and `step` in `range(a, b, step)` are integers. You can omit `step` if it is `1`.

In [23]:
digits_range = range(0, 10)
print(digits_range)

range(0, 10)

Do you see a sequence of numbers from 0 to 9? 

Note: range object does not display the values of its entries when printed. It yields values only when needed.

We can use `list()` to convert a range object to a list.

In [24]:
digits_range = range(0, 10)

digits_list = list(digits_range)

print("list obtained from range object:", digits_list)

even_number_list = list(range(0, 10, 2))

print("another list obtained from range object:", even_number_list)

list obtained from range object: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
another list obtained from range object: [0, 2, 4, 6, 8]

##Functions

What is a function? Simply put, function is just a series of computational steps.

Functions can take input parameters and return an output value.

Have we used functions? Yes, `print()` is a function.

Another example: `abs()` to compute the absolute value of a real number. So when you call this function, you need to provide it with a real number. The function returns the absolute value of the provided number.

In [25]:
# Number -1 is provided to abs()
# The returned value is 1

print("Absolute value of -1 is ", abs(-1))

Absolute value of -1 is  1

`abs()` returns a value. If you do not want the returned value, you do not need to take it. Else, you can use another variable to store the returned value. Like this:

In [26]:
a = abs(-1) # a is now 1

and use `a` for other purposes.

###Defining Functions

Let's define a very simple function. When you call it, you provide it with a number. It tells you whether the number is: positive, negative or zero.

In [28]:
def my_sign(x):
  if x > 0:
    return 'positive'
  elif x < 0:
    return 'negative'
  else: 
    return 'zero'

Main points:
1. Start the function definition with the `def` keyword.
2. After `def` is the name of the function and `(...)`.
3. Inside the brakets, list all input parameters separated by commas.
4. End the `def` statement with a colon `:`.
5. Indent the body of the function by pressing 'Tab' key
6. Use the `return` keyword to return the output of the function if necessary.

Let's test it out!

In [29]:
my_sign(-1)

'negative'

In [30]:
my_sign(1.1)

'positive'

##for loops

Let's take a look at this piece of code.

In [31]:
iterable = [1, 2, 3] # iterable is a list
for item in iterable:
  print(item)

1
2
3

Main points:
1. Keywords are: `for` and `in`
2. `iterable` is a sequence object such as a list, a tuple or a range object
3. `item` is a variable that sequentially takes values of `iterable`
4. What you do with `item` in the body of the loop is up to you. In this case we just simply print `item`.
5. Be careful! We have a colon `:` at the end of `for` statement

Let's consider another example:

- create a range object from 0 to 20
- use a `for` loop to calculate the sum of all the numbers
- print out the sum

In [32]:
# Your code:

iterable = range(0, 21)
sum = 0;
for i in iterable:
  sum = sum +i

print(sum)

210